<div class="container view">
    <header>
        <h3>Kişi Ekle</h3>
    </header>

    <div>
        <a class="nav-pills active" href="#/contacts">Geri Dön</a>
    </div>
    <br /><br />

    <div class="row add-contact">
            <div class="span3">
                İsim:
                <br />
                <input id="isim" data-ng-model="contact.isim" type="text" placeholder="İsim" required="isim giriniz"  minlength="2" maxlength="10" size="10">
            </div>
            <div class="span3">
                Soyisim:
                <br />
                <input id="soyisim" data-ng-model="contact.soyisim" type="text" placeholder="Soyisim" required  minlength="3" maxlength="100" size="100">
            </div>
            <div class="span3">
                Telefon Numarası:
                <br />
                <input id="number" class="number" data-ng-model="contact.number" type="number" placeholder="Telefon numarası giriniz" required>
            </div>
           
            
           
            
            <div class="span3">
                <button id="submitContact" class=" check btn btn-primary"  type="button"
                    data-ng-disabled="!contact.isim || !contact.soyisim || !contact.number"
                    data-ng-click="insertContact()">Ekle</button>
            </div>
    </div>
</div>
